.nav {
    border-radius: 10px;
    text-align: start;
    padding: 2px 15px;
    background: black;
    opacity: 0.8;
}

.nav li:nth-child(6) {
    margin-top: 50px;
}

.item {
    color: whitesmoke;
    font: 26px Gabriola, sans-serif;
    font-weight: bold;
}

.settings {
    color: red;
}

.item.active {
    color: goldenrod
}


