.inputContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;

  span {
    color: orange;

    svg:nth-child(3) {
      color: red !important;
    }
  }

  .input {
    outline: hidden;
    font: 15px "Matura MT Script Capitals", -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    max-width: 300px;
    color: tomato;

    &:last-child {
      margin-bottom: 10px;
    }
  }
}

.formsSummaryError {
  font: 15px raleway-grid, sans-serif;
  font-weight: bold;
  margin: 5px auto;
  display: flex;
  color: #c21500;
  max-width: 70%;
  justify-content: center;
  align-self: center;
  align-content: center;
  align-items: center;
  text-align: center;
}
