.preloader {
  margin-left: auto;
  margin-right: auto;

  .spinner {
    font-size: 44px;
    color: #F0650D;
    padding: 10px;
  }

  .spinnerBig {
    font-size: 124px;
  }

  .tip {
    font: 25px "Matura MT Script Capitals", sans-serif;
    font-weight: 400;
    color: #F0650D;
  }
}


