.wrapper {
  border-radius: 10px;
  text-align: center;
  padding: 0;
  background: black;
  opacity: 0.8;

  h3 {
    color: wheat;
    font: 100% "MV Boli", sans-serif;
    font-weight: bold;
    padding-top: 5px;
  }
}

@media only screen and (max-width: 798px) {
  .wrapper h3 {
    font-size: 65%;
  }
}
