.friend {
    text-align: center;
    color: wheat;
    font: 70% "Matura MT Script Capitals", sans-serif;
    display: flex;
    justify-content: space-around;
    justify-items: center;
    padding-bottom: 10px;
}

.friend img{
    width: 70%;
    border: 2px solid crimson;
    border-radius: 50%;
}
