.friend {
    text-align: center;
    color: wheat;
    font: 65% "Matura MT Script Capitals", sans-serif;
    display: flex;
    justify-content: space-around;
    justify-items: center;
    padding-bottom: 10px;

    img{
        max-width: 70%;
        border: 2px solid crimson;
        border-radius: 50%;
    }
}

@media only screen and (max-width: 798px) {
    .friend {
        font-size: 35%;

        img{
            max-width: 60%;
        }
    }
}
