.item {
  max-width: 35vw;
  color: darkslateblue;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: left;
  position: relative;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  background-color: #f8e896;
  font: 400 .9em 'Open Sans', sans-serif;
  border: 1px solid #dfd087;
  border-radius: 10px;

  &:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-top: 15px solid #f8e896;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    top: 0;
    left: -15px;
  }

  &:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-top: 17px solid #dfd087;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    top: -1px;
    left: -17px;
  }

  .like {
    color: #c21500;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 32px;
    margin: 10px 0 0 0;

    span {
      font-family: Ubuntu, sans-serif;
      color: black;
    }
  }

  p {
    max-width: 90%;
    word-break: break-word;
    color: #7c795d;
    font-family: 'Trocchi', serif;
    font-size: 17px;
    font-weight: normal;
    line-height: 20px;
    margin: -50px 0 0 0;
    padding: 0 30px;
  }

  img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 10px 0 0 -120px;
  }
}
