.errors {
  font: 16px raleway-grid, sans-serif;
  font-weight: 400;
  margin-bottom: 5px;

  span {
    border: none;
    font-weight: bold;
    color: #fff;
    background: #c51244 !important;
    padding: 10px !important;
    border-radius: 0 !important;
    position: relative;
    display: inline-block !important;
    box-shadow: 1px 1px 1px #aaaaaa;
    margin-top: 10px;

    &:before {
      content: '';
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid #c51244;
      position: absolute;
      top: -10px;
    }
  }
}

.textareaField {
  height: 75px;
  resize: none;
  padding: 9px;
  box-sizing: border-box;
  outline: hidden;
  overflow: hidden;
  font-size: 15px;
  background-color: #FFEFBA;
  word-break: break-word;
  max-lines: 50;
  width: 35vw;
}
