.friendItem {
  background: url("https://images.pexels.com/photos/1227511/pexels-photo-1227511.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500") no-repeat center/ cover;
  display: flex;
  text-align: center;
  flex-direction: row;
  justify-content: space-around;
  justify-items: center;
  padding: 10px;
  border: 4px solid chocolate;
  border-radius: 15px;
  margin: 10px 10px 10px 0;

  .info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-self: center;
    padding: 15px;
    border-radius: 15px;
    background: black;
    color: tomato;
    font: 25px "Matura MT Script Capitals", sans-serif;
    opacity: 0.8;
  }

  img {
    height: 200px;
    width: 200px;
    max-height: 200px;
    max-width: 200px;
    border: 2px solid crimson;
    border-radius: 50%;
  }

  .status {
    color: darkgoldenrod;
    padding: 3px;
    background-color: aliceblue;
    border: 1px solid aliceblue;
    border-radius: 5px;
    position: relative;
    margin: 15px 10px;

    &:after {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      border-top: 15px solid aliceblue;
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
      top: 0;
      left: -12px;
    }

    &:before {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      border-top: 9px solid aliceblue;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      top: -1px;
      left: -14px;
    }
  }

  .followed button {
    width: 70px;
    font: 11px -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
    color: goldenrod;
    background-color: darkred;
    padding: 3px;
    transition: 0.3s ease;

    &:hover, :active, :focus {
      color: gold;
      background-color: #c21500;
    }
  }
}

@media only screen and (max-width: 798px) {
  .friendItem {
    flex-direction: column;

    img {
      margin: 10px auto;
      height: 240px;
      width: 240px;
      border: 2px solid crimson;
      border-radius: 50%;
    }
  }
}
