.header {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-area: header;
    /*background-color: dodgerblue;*/
    background: url("https://images.pexels.com/photos/1690351/pexels-photo-1690351.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500") no-repeat center top/ cover;
    z-index: 1;
}

.header img {
    grid-column: 1 / 2;
    width: 92px;
    padding-right: 10px;
}

.logoText {
    grid-column: 2 / 3;
    margin-top: -11.5px;
}

.logoText p {
    font-family: Broadway, sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    width: 100%;
    color: whitesmoke;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    background: black;
    opacity: 0.8;
}