.nav {
    grid-area: nav;
    padding: 1vw;
    background: url("https://images.pexels.com/photos/2827741/pexels-photo-2827741.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500") no-repeat center top/ cover;
}

.sidebar {
    border-radius: 10px;
    text-align: start;
    padding: 15px;
    background: black;
    opacity: 0.8;
}

.item {
    color: whitesmoke
}

.item.active{
    color: goldenrod
}