.formWrapper {
  display: grid;
  padding: 10px;
  grid-row: 2;

  .form {
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    align-self: center;
    align-items: center;
    align-content: center;

    .formItem {
      margin: 10px;
    }
  }
}
