.descriptionBlock {
  padding: 10px;
  height: auto;
  text-align: center;
  justify-content: space-around;
  justify-items: center;
  border: 4px solid chocolate;
  border-radius: 15px;
  margin: 10px 10px -10px 0;
  z-index: 1;

  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-self: center;

    img {
      align-items: center;
      align-self: center;
      height: 300px;
      width: 300px;
      border-radius: 15px;
      max-height: 350px;
      max-width: 350px;
      border: 2px solid crimson;
      transition: 1s ease;
      margin-bottom: 10px;
    }

    .contentInfo {
      max-width: 450px;
      padding: 15px;
      border-radius: 15px;
      background: black;
      font: 20px "Matura MT Script Capitals", -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
      opacity: 0.8;

      ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-self: center;

        li {
          color: tomato;

          span {
            color: orange;

            svg:nth-child(3) {
              color: red !important;
            }
          }

          .facebook > span > svg {
            color: #3b5998;
          }

          .twitter > span > svg {
            color: #1DA1F2;
          }

          .instagram > span > svg {
            color: #fff;
            background: #d6249f;
            background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
            box-shadow: 0 3px 10px rgba(0, 0, 0, .25);
            border-radius: 10%;
          }

          .youtube > span > svg {
            color: #FF0000;
          }

          .github > span > svg {
            color: #fff;
          }
        }
      }

      .socialMedias {
        flex-direction: row;
        justify-content: space-around;
        transition: 0.7s ease;

        & > li:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}
