.nav {
  border-radius: 10px;
  text-align: start;
  padding: 2px 15px;
  background: black;
  opacity: 0.8;

  li:nth-child(6) {
    margin-top: 50px;
  }

  .item {
    color: whitesmoke;
    font: 26px Gabriola, sans-serif;
    font-weight: bold;
  }

  .settings {
    color: red;
  }

  .active {
    color: goldenrod
  }
}


@media only screen and (max-width: 798px) {
  .nav {
    padding: 2px 7px;

      li:nth-child(6) {
          margin-top: 20px;
      }

      .item {
          font: 20px Gabriola, sans-serif;
          line-height: 1.2;
      }
  }
}

