.postsBlock {
  padding: 10px;
  border: 1px #FFEFBA;

  h3 {
    font-family: Broadway, sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    width: 97.5%;
    color: whitesmoke;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    background: black;
    opacity: 0.8;

    span {
      color: goldenrod
    }
  }

  .item {
    border: 1px solid goldenrod;
    padding: 15px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .posts {
    border: 1px solid goldenrod;
    padding: 15px;
    border-radius: 15px;
    margin-top: 40px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .textarea {
    width: 35vw;
  }
}


