<<<<<<< HEAD
body {
    margin: 0;
    padding: 0 15px;
}

ul, li, a {
    list-style: none;
    text-decoration: none;
    color: black;
}

.app-wrapper {
    display: grid;
    width: 80vw;
    margin: 0 auto;
    background-color: blanchedalmond;
    grid-template-areas:
    "header header"
    "nav content";

    grid-auto-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;

    /*text-align: center;*/
}

.header {
     grid-area: header;
    background-color: dodgerblue;
 }

.header img {
    width: 20px;
}

.nav {
    grid-area: nav;
    background-color: dodgerblue;
}

.content {
    grid-area: content;
    background-color: blanchedalmond;
}

.content img {
    width: 100%;
    height: 30vh;
}


=======
ul li{
  list-style-type: lower-greek;
}

.App {
  text-align: start;
}


>>>>>>> f0e6d941189712fdaaa37d3ef27549fa32dc42e2
