body {
    margin: 0;
    padding: 0 15px;
}

ul, li, a {
    list-style: none;
    text-decoration: none;
    color: black;
}

.app-wrapper {
    display: grid;
    width: 80vw;
    margin: 0 auto;
    background-color: blanchedalmond;
    grid-template-areas:
    "header header"
    "nav content";

    grid-auto-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 1.2%;

    /*text-align: center;*/
}



