body {
    margin: 0;
    padding: 0 15px;
}

ul, li, a {
    list-style: none;
    text-decoration: none;
    color: black;
}

.app-wrapper {
    display: grid;
    width: 80vw;
    margin: 0 auto;
    background: #FFEFBA; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #FFEFBA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    grid-template-areas: "header header" "nav content";

    grid-auto-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
}

.app-wrapper-content {
    width: 100%;
    grid-area: content;
    background: #FFEFBA; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #FFEFBA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.app-wrapper-content img {
    width: 98.8%;
    max-height: 50vh;
}

@media only screen and (max-width: 992px) {
    .app-wrapper, body {
        width: 100%;
        margin: 0;
        padding: 0;
        background: #FFFFFF;
        grid-gap: 5px 0;
    }

    body {
        grid-gap: 15px 0;
    }
}
