.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogs img{
    width: 98.8%;
    max-height: 50vh;
    grid-column: 1 / 3;
    grid-row: 1;
}

.dialogsItems {
    padding: 10px;
    grid-row: 2;
}
.active {
    color: royalblue;
}

.messages {
    padding: 10px;
    grid-row: 2;
}

.message {

}
